DATABASE_HOST=localhost
DATABASE_PORT=5435
DATABASE_USER=ottodot
DATABASE_PASSWORD=ottodot
DATABASE_DB=ottodot
DATABASE_SCHEMA=application
TEST_DATABASE_DB=ottodot_test
PORT=3001
HOLD_SECONDS=600
TRIAL_PRICE_CENTS=5000
MOCK_PAYMENT_DELAY_MS=0
VITE_API_PROXY_TARGET=http://localhost:3001
